.button {
  background: none;
  border: none;
  outline: none;

  font-size: 16px;
  padding: 10px 30px;
  border-radius: 4px;

  &.primary {
    background-color: var(--primary);
    transition: background-color 0.7s ease;
    color: white;

    &:hover {
      background-color: var(--primary-dark);
    }
  }

  &.outline {
    border: 1px solid var(--primary);
    color: var(--primary);
    transition: border 0.7s ease;

    &:hover {
      border-color: var(--primary-dark);
    }
  }
  &.danger {
    background-color: var(--danger);
    transition: background-color 0.7s ease;
    color: white;

    &:hover {
      background-color: var(--danger-dark);
    }
  }

  &.icon {
    padding: 12px;
    border-radius: 50%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
